body {
  min-height: 100vh;
  line-height: 1.6;
  font-family:
    Pretendard;
  font-size: 15px;
  display: flex;
  place-items: center;
  text-rendering: optimizeLegibility;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}